.Monster {
  width: 180px;
  font-size: 16px;
  float: left;
  padding: 1em;
  transition: all 360ms ease-out;
}

.Monster--inBattle {
  max-width: 50%;
}

.Monster--dead {
  filter: grayscale(100%);
}