.MonsterListView {
  transition: all 120ms ease-out;
  padding: 1em 1em 1em 40%;
  background-color: #1f2023;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.MonsterListView:hover {
  background-color: #1b9a77;
}

.MonsterListView--flip {
  padding: 1em 40% 1em 1em;
  flex-direction: row-reverse;
}

.MonsterListView--locked {
  filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
}

.MonsterListView--selected {
  background-color: #1b9a77;
  filter: drop-shadow(0 0 0.25em #1b9a77) drop-shadow(0 0 0.5em #1b9a77);
  z-index: 1;
}
