.MonsterStats {
  flex-shrink: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  margin: 0 auto;
  width: 90%;
  padding: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #1f2023;
  border-radius: 0 0 5px 5px;
}

.MonsterStats__label {
  padding-right: 0.5em;
}

.MonsterStats__value {
  font-weight: bold;
  text-align: right;
}

.MonsterStats__attack {
  color: #ff6666;
}

.MonsterStats__defense {
  color: #66a6ff;
}

.MonsterStats__health {
  color: #b1e87d;
}
