.MonsterAvatar {
  min-width: 80px;
  width: 100%;
  position: relative;
  perspective: 500px;
}

.MonsterAvatar--inList {
  width: 95px;
  position: absolute;
  z-index: 1;
  left: 1em;
  bottom: -1em;
}

.MonsterAvatar:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  padding-bottom: 100%;
  left: 50%;
  bottom: 1em;
  transform: translate(-50%, 50%) scale(0.6, 0.1);
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  filter: blur(6em);
}

.MonsterAvatar--inList:before {
  bottom: 35%;
  background-color: white;
  box-shadow: 0 0 0.5em white, 0 0 1em white;
  transform: translate(-50%, 50%);
  filter: blur(0.25em);
}

.MonsterAvatar__monster {
  width: 100%;
  opacity: 1;
  transform-origin: 50% 100%;
  animation-name: breathe;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.MonsterAvatar__monster--dead {
  animation-name: die;
  animation-direction: linear;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.MonsterAvatar__tombstone {
  transition-duration: 300ms;
  transition-property: transform opacity;
  transform-origin: 50% 100%;
  transition-timing-function: cubic-bezier(.42,0,.78,1);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateX(-90deg);
  opacity: 0;
}

.MonsterAvatar__tombstone--up {
  transform: rotateX(0deg);
  opacity: 1;
}

.MonsterAvatar--flip {
  transform: rotateY(180deg);
  filter: hue-rotate(-45deg);
}

.MonsterAvatar--flip .MonsterAvatar__tombstone {
  transform: rotateX(-90deg) rotateY(180deg);
}

.MonsterAvatar--flip .MonsterAvatar__tombstone--up {
  transform: rotateX(0deg) rotateY(180deg);
}

.MonsterAvatar--inList .MonsterAvatar__monster {
  animation: none;
}

.MonsterAvatar--inList.MonsterAvatar--flip {
  left: auto;
  right: 1em;
}

@keyframes breathe {
  0% {
    transform: scaleY(0.99) skew(0.5deg);
  }
  100% {
    transform: scaleY(1.01) skew(-0.5deg);
  }
}

@keyframes die {
  30% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateX(90deg);
    filter: grayscale(100%);
  }
}

